In [13]:
# Tuples

x = (1, 'a', 2, 'b')

# Lists

y = [1, 'a', 'b', x]

# Dictionaries

z = {
    'Christopher Brooks': 'brooks@xx.net'
}

In [2]:
# Add operator concatenates
x + (0,'x')

(1, 'a', 2, 'b', 0, 'x')

In [4]:
# Add operator concatenates
y + [3.3]

[1, 'a', 'b', (1, 'a', 2, 'b'), 3.3]

In [5]:
# Multiply operator repeats the list
x*2

(1, 'a', 2, 'b', 1, 'a', 2, 'b')

In [6]:
y * 3

[1,
 'a',
 'b',
 (1, 'a', 2, 'b'),
 1,
 'a',
 'b',
 (1, 'a', 2, 'b'),
 1,
 'a',
 'b',
 (1, 'a', 2, 'b')]

In [8]:
# The 'in' operator
0 in x

False

In [9]:
# Slicing
s = 'This is some string'

print(s[0])
print(s[0:1])
print(s[0:2])
print(s[-1])
print(s[:3])
print(s[3:])

T
T
Th
g
Thi
s is some string

In [11]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname+ ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [12]:
name = 'Christopher Arthur Hansen Brooks'

firstname = name.split(' ')[0]
lastname = name.split(' ')[-1]

print(firstname)
print(lastname)

Christopher
Brooks

### Is object iterable?

```python
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

isiterable(tuple([1,2,3]))
```

### Primary operators in python

```python
a & b # (I thought this was a pandas construct, lol)
# True if both a and b are True; for integers, take the bitwise AND

a | b # True if either a or b is True; for integers, take the bitwise OR
a ^ b # For Booleans, True if a or b is True, but not both; for integers, take the bitwise EXCLUSIVE-OR

! All types are mutable, except for ***TUPLE*** and ***STRING***

### String templating (one way)

In [14]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

### String templating (another way - f-strings)

In [17]:
amount = 88.4623
currency = "Argentine Pesos"
template = f"{amount:.2f} {currency:s} are worth US1$"
template

'88.46 Argentine Pesos are worth US1$'

### Dates and times

In [20]:
from datetime import datetime, date, time

dt = datetime(2025, 1, 1)

print(dt.day)
print(dt.minute)

1
0

In [26]:
# We can extract the respective date and time objects
print(dt.date())
print(type(dt.date()))
print(dt.time())
print(type(dt.time()))

2025-01-01
<class 'datetime.date'>
00:00:00
<class 'datetime.time'>

In [29]:
# Format the date
dt.strftime("%d.%m.%Y %H:%M")

'01.01.2025 00:00'

In [32]:
# Convert string to datetime
datetime.strptime("20220202100025", "%Y%m%d%H%M%S")

datetime.datetime(2022, 2, 2, 10, 0, 25)

In [37]:
# TIMEDELTA
dt2 = datetime(2025, 1, 2)

print(dt2 - dt)
print(dt - dt2)

1 day, 0:00:00
-1 day, 0:00:00

In [38]:
dt + (dt2 - dt)

datetime.datetime(2025, 1, 2, 0, 0)

## Control flow

### If elif else

In [43]:
nr = -1
if nr < 0:
    print("It's negative")
elif nr == 0:
    print("Equal to zero")
elif 0 < nr < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

It's negative

### For loops

In [45]:
# Iterate over a collection
for i in x:
    if i is None:
        # Skip over for some condition
        continue
    if isinstance(i, str):
        # Break out of loop for another condition
        break
    print(i)

1

In [48]:
# Iterate over range (oldschool style for(i=0; i<n; i++))
for n in range(0, 2): # range excludes last element
    print(n)

0
1

In [49]:
seq = [1, 2, 3, 4]

for i in range(len(seq)):
    print(seq[i])

1
2
3
4

## DATA STRUCTURES

### Tuple

In [54]:
tup = (1, 2, 3, 4)
tup = 1, 2, 3, 4

type(tup)

tuple

In [53]:
# Immutable
tup[0] = 2

TypeError: 'tuple' object does not support item assignment

In [55]:
# We can make a tuple fron a list
tuple([1,2,3])

(1, 2, 3)

In [57]:
# We can also make a tuple from a string lol
tuple("String")

('S', 't', 'r', 'i', 'n', 'g')

In [59]:
nested_tup = (1,2,3), (4,5)
nested_tup[1]

(4, 5)

In [61]:
# Unpacking
a, b, c, d = tup
a

1

In [64]:
# Unpacking pitfalls
a, b, c = tup

ValueError: too many values to unpack (expected 3)

In [65]:
a,b,c,d,e = tup

ValueError: not enough values to unpack (expected 5, got 4)

In [66]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

for a,b,c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

### *rest (or *_)

In [68]:
a, b, *rest = tup # or *_
print(a)
print(rest)

1
[3, 4]

In [69]:
# Count occurences of a value
tup = 1, 2, 2, 2, 3, 4, 5, 2, 6, 2, 7, 2
tup.count(2)

6


### Lists

In [70]:
lst = list(tup)
lst

[1, 2, 2, 2, 3, 4, 5, 2, 6, 2, 7, 2]

In [71]:
# Mutable
lst[0] = 2
lst

[2, 2, 2, 2, 3, 4, 5, 2, 6, 2, 7, 2]

In [84]:
nrs = ['one', 'two']

# Add at the end of list
nrs.append('three')
nrs

['one', 'two', 'three']

In [85]:
# Insert at specific location
nrs.insert(1, "four")
nrs

['one', 'four', 'two', 'three']

In [86]:
# Remove and return an element at certain location
print(nrs.pop(1))
print(nrs)
print(nrs.pop()) # By default, pops off the end of the list like any other language
print(nrs)

four
['one', 'two', 'three']
three

In [87]:
# Remove from list
nrs.remove("one")
nrs

['two']

In [92]:
print([1,2,3]+[4,5,6]) # Computationally expensive
lst = [1,2,3]
lst.extend([4,5,6])  # Prefered for efficiency
lst

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [95]:
lst.sort()
lst

[1, 2, 3, 4, 5, 6]


### Dictionaries

In [96]:
d1 = {"a": "value1", "b": "value2"}
d1["a"]

'value1'

In [97]:
# Check if key in dict
"b" in d1

True

In [98]:
# Delete values from dict

# Using del
d1["dummy1"] = "Dummy"
del d1["dummy1"]
print(d1)

# Using .pop(key) which returns the value
d1["dummy2"] = "Dummy"
popped = d1.pop("dummy2")
print(d1)

{'a': 'value1', 'b': 'value2'}
{'a': 'value1', 'b': 'value2'}

In [99]:
print(d1.keys())
print(d1.values())

dict_keys(['a', 'b'])
dict_values(['value1', 'value2'])

In [100]:
# Iterate over key => value pair as tuples
for key, val in d1.items():
    print(key, val)

a value1
b value2

In [102]:
# We can make a dict from two sequences
keys = ('20241201', '20241202', '20241203')
values = ['storm', 'cloudy', 'sunny']

tuples = zip(keys, values)
d2 = dict(tuples)
d2

{'20241201': 'storm', '20241202': 'cloudy', '20241203': 'sunny'}

In [106]:
# Why check if key in dict when you can do as such:
print(d1.get("c"))
print(d1.get("c", "default"))

None
default

### Sets

Sorted and unique sequences

In [107]:
s1 = set([2, 2, 1, 3])
s1

{1, 2, 3}

In [108]:
s2 = {5, 6, 2, 1, 0}
s2

{0, 1, 2, 5, 6}

#### Set operations

In [111]:
# union
s1.union(s2) # or
s1 | s2

{0, 1, 2, 3, 5, 6}

In [112]:
# Intersection
s1.intersection(s2) # Or
s1 & s2

{1, 2}

#### Other set operations
- a.add(x)
- a.clear()
- a.remove(x)
- a.pop()
- a.union(b)
- a.update(b) -> sets a to be union of a and b
- a.intersection(b)
- a.intersection_update(b) -> sets a to be intersection of a and b
- a.difference(b)
- a.difference_update(b)
- a.symmetric_difference(b)
- a.symmetric_difference_update(b)
- a.issubset(b)
- a.issuperset(b)
- a.isdisjoint(b) -> True if a and b have no elements in common

### Built-in sequence functions

In [113]:
# enumerate()
for ix, val in enumerate(s2):
    print(ix, val)

0 0
1 1
2 2
3 5
4 6

In [114]:
# sorted()
some_list = [9, 8, 2, 3, 2, 1, 9, 0, 0, 0, 0, 9]
sorted(some_list)

[0, 0, 0, 0, 1, 2, 2, 3, 8, 9, 9, 9]

In [115]:
# Now, if we also want to have only unique values:
set(some_list)

{0, 1, 2, 3, 8, 9}

In [118]:
# zip() - pairs elements up to create a list of tuples
list(zip(keys, values))

[('20241201', 'storm'), ('20241202', 'cloudy'), ('20241203', 'sunny')]

## COMPREHENSIONS

### List comprehensions

In [122]:
[i for i in some_list if i%2!=0]

[9, 3, 1, 9, 9]

### Dict compregensions

In [123]:
{key: val for key, val in zip(keys, values)}

{'20241201': 'storm', '20241202': 'cloudy', '20241203': 'sunny'}


# FUNCTIONS

### Arguments

There's:
- positional arguments
- keyword arguments

In [124]:
def my_func(x, y, z=0): # x, y positional args, z is keyword arg
    if z > 0:
        return z * (x+y)
    else:
        return x + y

my_func(1,2,z=3) # positional args must always be specified, keyword args should be specified with the keyword

9

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

### Namespace

In [130]:
a = []
b = None

def func1():
    for i in range(5):
        a.append(i) # This only works when a is a list
func1()
print(a)

def func2():
    global b # in the case of b, which is declared None, we have to declare it as global?
    b = []
    for i in range(5):
        b.append(i)

func2()
print(b)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

### Returning multiple values

In [131]:
def func3():
    a = 1; b = 2; c = 3
    return a, b, c

a, b, c = func3()
print(a,b,c)

1 2 3

In [132]:
cities = ['  lisbon', 'barcelona', 'bUcharest  ', ' rome', 'Palermo']

clean_ops = [str.strip, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)

    return result

clean_strings(cities, clean_ops)

['Lisbon', 'Barcelona', 'Bucharest', 'Rome', 'Palermo']

### Lambda functions

In [138]:
powers = map(lambda x: x**2, range(0, 11))
print(list(powers))

strings = ['aaa', 'bbbbb', 'c', 'dd', 'xxx', 'y']
strings.sort(key=lambda x: len(x))
print(strings)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
['c', 'y', 'dd', 'aaa', 'xxx', 'bbbbb']

### Generators

In [139]:
def squares(n=10):
    for i in range(1, n+1):
        yield i**2

gen = squares()
gen

In [140]:
for x in gen:
    print(x)

1
4
9
16
25
36
49
64
81
100

In [141]:
# OR like this
gen = (x**2 for x in range(11))
gen

## ERRORS AND EXCEPTIONS

### Exceptions

In [143]:
def attempt_float(x):
    try:
        return float(x)
    except:
        print('failed')
        return x
    else:
        print('succeeded')
    finally:
        print('always')

attempt_float('sss')

failed
always

'sss'

## FILES

In [145]:
f = open('./countries.csv', encoding='utf-8')
for line in f:
    print(line)
    break
f.close()

id,value

### Reading / writing CSV

In [4]:
import csv

%precision 2

with open('./countries.csv', 'r+') as csvfile:
    countries = list(csv.DictReader(csvfile))

countries[:3]

[{'id': 'AF', 'value': 'Afghanistan'},
 {'id': 'AX', 'value': 'Åland Islands'},
 {'id': 'AL', 'value': 'Albania'}]

In [5]:
countries[0].keys()

dict_keys(['id', 'value'])

In [7]:
with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[0].keys()

dict_keys(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'name'])

In [8]:
len(mpg)

398

In [9]:
sum(float(d['mpg']) for d in mpg) / len(mpg)

23.51

In [11]:
cylinders = set(d['cylinders'] for d in mpg)
cylinders

{'3', '4', '5', '6', '8'}

In [18]:
mpgByCyl = []

for c in cylinders:
    count = 0
    summpg = 0
    for m in mpg:
        if m['cylinders'] == c:
            summpg += float(m['mpg'])
            count+=1
    mpgByCyl.append((c, summpg / count))

mpgByCyl.sort(key=lambda x: x[0])
mpgByCyl

[('3', 20.55), ('4', 29.29), ('5', 27.37), ('6', 19.99), ('8', 14.96)]

## Dates and times

In [19]:
import datetime
import time

In [20]:
time.time()

1738007227.66

In [21]:
datetime.datetime.fromtimestamp(time.time())

datetime.datetime(2025, 1, 27, 20, 47, 20, 476858)

In [22]:
delta = datetime.timedelta(days=100)
delta

datetime.timedelta(days=100)

In [23]:
today = datetime.date.today()
today + delta

datetime.date(2025, 5, 7)

## Classes, objects and map()

In [2]:
class Person:
    department = 'School of Information'

    # Constructor
    def __init__(self):
        pass

    def set_name(self, new_name):
        self.name = new_name

    def set_location(self, location):
        self.location = location

In [3]:
store1 = [10, 12, 9.5]
store2 = [8.99, 10, 11]
cheapest = map(min, store1, store2)
cheapest # Output is lazy evaluation

In [10]:
list(cheapest)

[8.99, 10, 9.5]

In [11]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    splitted = person.split(' ')
    return f"{splitted[0]} {splitted[-1]}"

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [15]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

[f'{a}{b}{x}{y}' for a in digits for b in digits for x in lowercase for y in lowercase]

['00aa',
 '00ab',
 '00ac',
 '00ad',
 '00ae',
 '00af',
 '00ag',
 '00ah',
 '00ai',
 '00aj',
 '00ak',
 '00al',
 '00am',
 '00an',
 '00ao',
 '00ap',
 '00aq',
 '00ar',
 '00as',
 '00at',
 '00au',
 '00av',
 '00aw',
 '00ax',
 '00ay',
 '00az',
 '00ba',
 '00bb',
 '00bc',
 '00bd',
 '00be',
 '00bf',
 '00bg',
 '00bh',
 '00bi',
 '00bj',
 '00bk',
 '00bl',
 '00bm',
 '00bn',
 '00bo',
 '00bp',
 '00bq',
 '00br',
 '00bs',
 '00bt',
 '00bu',
 '00bv',
 '00bw',
 '00bx',
 '00by',
 '00bz',
 '00ca',
 '00cb',
 '00cc',
 '00cd',
 '00ce',
 '00cf',
 '00cg',
 '00ch',
 '00ci',
 '00cj',
 '00ck',
 '00cl',
 '00cm',
 '00cn',
 '00co',
 '00cp',
 '00cq',
 '00cr',
 '00cs',
 '00ct',
 '00cu',
 '00cv',
 '00cw',
 '00cx',
 '00cy',
 '00cz',
 '00da',
 '00db',
 '00dc',
 '00dd',
 '00de',
 '00df',
 '00dg',
 '00dh',
 '00di',
 '00dj',
 '00dk',
 '00dl',
 '00dm',
 '00dn',
 '00do',
 '00dp',
 '00dq',
 '00dr',
 '00ds',
 '00dt',
 '00du',
 '00dv',
 '00dw',
 '00dx',
 '00dy',
 '00dz',
 '00ea',
 '00eb',
 '00ec',
 '00ed',
 '00ee',
 '00ef',
 '00eg',
 '00eh',
 '00ei',
 '00ej',
 '00ek',
 '00el',
 '00em',
 '00en',
 '00eo',
 '00ep',
 '00eq',
 '00er',
 '00es',
 '00et',
 '00eu',
 '00ev',
 '00ew',
 '00ex',
 '00ey',
 '00ez',
 '00fa',
 '00fb',
 '00fc',
 '00fd',
 '00fe',
 '00ff',
 '00fg',
 '00fh',
 '00fi',
 '00fj',
 '00fk',
 '00fl',
 '00fm',
 '00fn',
 '00fo',
 '00fp',
 '00fq',
 '00fr',
 '00fs',
 '00ft',
 '00fu',
 '00fv',
 '00fw',
 '00fx',
 '00fy',
 '00fz',
 '00ga',
 '00gb',
 '00gc',
 '00gd',
 '00ge',
 '00gf',
 '00gg',
 '00gh',
 '00gi',
 '00gj',
 '00gk',
 '00gl',
 '00gm',
 '00gn',
 '00go',
 '00gp',
 '00gq',
 '00gr',
 '00gs',
 '00gt',
 '00gu',
 '00gv',
 '00gw',
 '00gx',
 '00gy',
 '00gz',
 '00ha',
 '00hb',
 '00hc',
 '00hd',
 '00he',
 '00hf',
 '00hg',
 '00hh',
 '00hi',
 '00hj',
 '00hk',
 '00hl',
 '00hm',
 '00hn',
 '00ho',
 '00hp',
 '00hq',
 '00hr',
 '00hs',
 '00ht',
 '00hu',
 '00hv',
 '00hw',
 '00hx',
 '00hy',
 '00hz',
 '00ia',
 '00ib',
 '00ic',
 '00id',
 '00ie',
 '00if',
 '00ig',
 '00ih',
 '00ii',
 '00ij',
 '00ik',
 '00il',
 '00im',
 '00in',
 '00io',
 '00ip',
 '00iq',
 '00ir',
 '00is',
 '00it',
 '00iu',
 '00iv',
 '00iw',
 '00ix',
 '00iy',
 '00iz',
 '00ja',
 '00jb',
 '00jc',
 '00jd',
 '00je',
 '00jf',
 '00jg',
 '00jh',
 '00ji',
 '00jj',
 '00jk',
 '00jl',
 '00jm',
 '00jn',
 '00jo',
 '00jp',
 '00jq',
 '00jr',
 '00js',
 '00jt',
 '00ju',
 '00jv',
 '00jw',
 '00jx',
 '00jy',
 '00jz',
 '00ka',
 '00kb',
 '00kc',
 '00kd',
 '00ke',
 '00kf',
 '00kg',
 '00kh',
 '00ki',
 '00kj',
 '00kk',
 '00kl',
 '00km',
 '00kn',
 '00ko',
 '00kp',
 '00kq',
 '00kr',
 '00ks',
 '00kt',
 '00ku',
 '00kv',
 '00kw',
 '00kx',
 '00ky',
 '00kz',
 '00la',
 '00lb',
 '00lc',
 '00ld',
 '00le',
 '00lf',
 '00lg',
 '00lh',
 '00li',
 '00lj',
 '00lk',
 '00ll',
 '00lm',
 '00ln',
 '00lo',
 '00lp',
 '00lq',
 '00lr',
 '00ls',
 '00lt',
 '00lu',
 '00lv',
 '00lw',
 '00lx',
 '00ly',
 '00lz',
 '00ma',
 '00mb',
 '00mc',
 '00md',
 '00me',
 '00mf',
 '00mg',
 '00mh',
 '00mi',
 '00mj',
 '00mk',
 '00ml',
 '00mm',
 '00mn',
 '00mo',
 '00mp',
 '00mq',
 '00mr',
 '00ms',
 '00mt',
 '00mu',
 '00mv',
 '00mw',
 '00mx',
 '00my',
 '00mz',
 '00na',
 '00nb',
 '00nc',
 '00nd',
 '00ne',
 '00nf',
 '00ng',
 '00nh',
 '00ni',
 '00nj',
 '00nk',
 '00nl',
 '00nm',
 '00nn',
 '00no',
 '00np',
 '00nq',
 '00nr',
 '00ns',
 '00nt',
 '00nu',
 '00nv',
 '00nw',
 '00nx',
 '00ny',
 '00nz',
 '00oa',
 '00ob',
 '00oc',
 '00od',
 '00oe',
 '00of',
 '00og',
 '00oh',
 '00oi',
 '00oj',
 '00ok',
 '00ol',
 '00om',
 '00on',
 '00oo',
 '00op',
 '00oq',
 '00or',
 '00os',
 '00ot',
 '00ou',
 '00ov',
 '00ow',
 '00ox',
 '00oy',
 '00oz',
 '00pa',
 '00pb',
 '00pc',
 '00pd',
 '00pe',
 '00pf',
 '00pg',
 '00ph',
 '00pi',
 '00pj',
 '00pk',
 '00pl',
 '00pm',
 '00pn',
 '00po',
 '00pp',
 '00pq',
 '00pr',
 '00ps',
 '00pt',
 '00pu',
 '00pv',
 '00pw',
 '00px',
 '00py',
 '00pz',
 '00qa',
 '00qb',
 '00qc',
 '00qd',
 '00qe',
 '00qf',
 '00qg',
 '00qh',
 '00qi',
 '00qj',
 '00qk',
 '00ql',
 '00qm',
 '00qn',
 '00qo',
 '00qp',
 '00qq',
 '00qr',
 '00qs',
 '00qt',
 '00qu',
 '00qv',
 '00qw',
 '00qx',
 '00qy',
 '00qz',
 '00ra',
 '00rb',
 '00rc',
 '00rd',
 '00re',
 '00rf',
 '00rg',
 '00rh',
 '00ri',
 '00rj',
 '00rk',
 '00rl',
 '00rm',
 '00rn',
 '00ro',
 '00rp',
 '00rq',
 '00rr',
 '00rs',
 '00rt',
 '00ru',
 '00rv',
 '00rw',
 '00rx',
 '00ry',
 '00rz',
 '00sa',
 '00sb',
 '00sc',
 '00sd',
 '00se',
 '00sf',
 '00sg',
 '00sh',
 '00si',
 '00sj',
 '00sk',
 '00sl',
 '00sm',
 '00sn',
 '00so',
 '00sp',
 '00sq',
 '00sr',
 '00ss',
 '00st',
 '00su',
 '00sv',
 '00sw',
 '00sx',
 '00sy',
 '00sz',
 '00ta',
 '00tb',
 '00tc',
 '00td',
 '00te',
 '00tf',
 '00tg',
 '00th',
 '00ti',
 '00tj',
 '00tk',
 '00tl',
 '00tm',
 '00tn',
 '00to',
 '00tp',
 '00tq',
 '00tr',
 '00ts',
 '00tt',
 '00tu',
 '00tv',
 '00tw',
 '00tx',
 '00ty',
 '00tz',
 '00ua',
 '00ub',
 '00uc',
 '00ud',
 '00ue',
 '00uf',
 '00ug',
 '00uh',
 '00ui',
 '00uj',
 '00uk',
 '00ul',
 '00um',
 '00un',
 '00uo',
 '00up',
 '00uq',
 '00ur',
 '00us',
 '00ut',
 '00uu',
 '00uv',
 '00uw',
 '00ux',
 '00uy',
 '00uz',
 '00va',
 '00vb',
 '00vc',
 '00vd',
 '00ve',
 '00vf',
 '00vg',
 '00vh',
 '00vi',
 '00vj',
 '00vk',
 '00vl',
 '00vm',
 '00vn',
 '00vo',
 '00vp',
 '00vq',
 '00vr',
 '00vs',
 '00vt',
 '00vu',
 '00vv',
 '00vw',
 '00vx',
 '00vy',
 '00vz',
 '00wa',
 '00wb',
 '00wc',
 '00wd',
 '00we',
 '00wf',
 '00wg',
 '00wh',
 '00wi',
 '00wj',
 '00wk',
 '00wl',
 '00wm',
 '00wn',
 '00wo',
 '00wp',
 '00wq',
 '00wr',
 '00ws',
 '00wt',
 '00wu',
 '00wv',
 '00ww',
 '00wx',
 '00wy',
 '00wz',
 '00xa',
 '00xb',
 '00xc',
 '00xd',
 '00xe',
 '00xf',
 '00xg',
 '00xh',
 '00xi',
 '00xj',
 '00xk',
 '00xl',
 '00xm',
 '00xn',
 '00xo',
 '00xp',
 '00xq',
 '00xr',
 '00xs',
 '00xt',
 '00xu',
 '00xv',
 '00xw',
 '00xx',
 '00xy',
 '00xz',
 '00ya',
 '00yb',
 '00yc',
 '00yd',
 '00ye',
 '00yf',
 '00yg',
 '00yh',
 '00yi',
 '00yj',
 '00yk',
 '00yl',
 '00ym',
 '00yn',
 '00yo',
 '00yp',
 '00yq',
 '00yr',
 '00ys',
 '00yt',
 '00yu',
 '00yv',
 '00yw',
 '00yx',
 '00yy',
 '00yz',
 '00za',
 '00zb',
 '00zc',
 '00zd',
 '00ze',
 '00zf',
 '00zg',
 '00zh',
 '00zi',
 '00zj',
 '00zk',
 '00zl',
 '00zm',
 '00zn',
 '00zo',
 '00zp',
 '00zq',
 '00zr',
 '00zs',
 '00zt',
 '00zu',
 '00zv',
 '00zw',
 '00zx',
 '00zy',
 '00zz',
 '01aa',
 '01ab',
 '01ac',
 '01ad',
 '01ae',
 '01af',
 '01ag',
 '01ah',
 '01ai',
 '01aj',
 '01ak',
 '01al',
 '01am',
 '01an',
 '01ao',
 '01ap',
 '01aq',
 '01ar',
 '01as',
 '01at',
 '01au',
 '01av',
 '01aw',
 '01ax',
 '01ay',
 '01az',
 '01ba',
 '01bb',
 '01bc',
 '01bd',
 '01be',
 '01bf',
 '01bg',
 '01bh',
 '01bi',
 '01bj',
 '01bk',
 '01bl',
 '01bm',
 '01bn',
 '01bo',
 '01bp',
 '01bq',
 '01br',
 '01bs',
 '01bt',
 '01bu',
 '01bv',
 '01bw',
 '01bx',
 '01by',
 '01bz',
 '01ca',
 '01cb',
 '01cc',
 '01cd',
 '01ce',
 '01cf',
 '01cg',
 '01ch',
 '01ci',
 '01cj',
 '01ck',
 '01cl',
 '01cm',
 '01cn',
 '01co',
 '01cp',
 '01cq',
 '01cr',
 '01cs',
 '01ct',
 '01cu',
 '01cv',
 '01cw',
 '01cx',
 '01cy',
 '01cz',
 '01da',
 '01db',
 '01dc',
 '01dd',
 '01de',
 '01df',
 '01dg',
 '01dh',
 '01di',
 '01dj',
 '01dk',
 '01dl',
 '01dm',
 '01dn',
 '01do',
 '01dp',
 '01dq',
 '01dr',
 '01ds',
 '01dt',
 '01du',
 '01dv',
 '01dw',
 '01dx',
 '01dy',
 '01dz',
 '01ea',
 '01eb',
 '01ec',
 '01ed',
 '01ee',
 '01ef',
 '01eg',
 '01eh',
 '01ei',
 '01ej',
 '01ek',
 '01el',
 '01em',
 '01en',
 '01eo',
 '01ep',
 '01eq',
 '01er',
 '01es',
 '01et',
 '01eu',
 '01ev',
 '01ew',
 '01ex',
 '01ey',
 '01ez',
 '01fa',
 '01fb',
 '01fc',
 '01fd',
 '01fe',
 '01ff',
 '01fg',
 '01fh',
 '01fi',
 '01fj',
 '01fk',
 '01fl',
 '01fm',
 '01fn',
 '01fo',
 '01fp',
 '01fq',
 '01fr',
 '01fs',
 '01ft',
 '01fu',
 '01fv',
 '01fw',
 '01fx',
 '01fy',
 '01fz',
 '01ga',
 '01gb',
 '01gc',
 '01gd',
 '01ge',
 '01gf',
 '01gg',
 '01gh',
 '01gi',
 '01gj',
 '01gk',
 '01gl',
 '01gm',
 '01gn',
 '01go',
 '01gp',
 '01gq',
 '01gr',
 '01gs',
 '01gt',
 '01gu',
 '01gv',
 '01gw',
 '01gx',
 '01gy',
 '01gz',
 '01ha',
 '01hb',
 '01hc',
 '01hd',
 '01he',
 '01hf',
 '01hg',
 '01hh',
 '01hi',
 '01hj',
 '01hk',
 '01hl',
 '01hm',
 '01hn',
 '01ho',
 '01hp',
 '01hq',
 '01hr',
 '01hs',
 '01ht',
 '01hu',
 '01hv',
 '01hw',
 '01hx',
 '01hy',
 '01hz',
 '01ia',
 '01ib',
 '01ic',
 '01id',
 '01ie',
 '01if',
 '01ig',
 '01ih',
 '01ii',
 '01ij',
 '01ik',
 '01il',
 '01im',
 '01in',
 '01io',
 '01ip',
 '01iq',
 '01ir',
 '01is',
 '01it',
 '01iu',
 '01iv',
 '01iw',
 '01ix',
 '01iy',
 '01iz',
 '01ja',
 '01jb',
 '01jc',
 '01jd',
 '01je',
 '01jf',
 '01jg',
 '01jh',
 '01ji',
 '01jj',
 '01jk',
 '01jl',
 '01jm',
 '01jn',
 '01jo',
 '01jp',
 '01jq',
 '01jr',
 '01js',
 '01jt',
 '01ju',
 '01jv',
 '01jw',
 '01jx',
 '01jy',
 '01jz',
 '01ka',
 '01kb',
 '01kc',
 '01kd',
 '01ke',
 '01kf',
 '01kg',
 '01kh',
 '01ki',
 '01kj',
 '01kk',
 '01kl',
 '01km',
 '01kn',
 '01ko',
 '01kp',
 '01kq',
 '01kr',
 '01ks',
 '01kt',
 '01ku',
 '01kv',
 '01kw',
 '01kx',
 '01ky',
 '01kz',
 '01la',
 '01lb',
 '01lc',
 '01ld',
 '01le',
 '01lf',
 '01lg',
 '01lh',
 '01li',
 '01lj',
 '01lk',
 '01ll',
 '01lm',
 '01ln',
 '01lo',
 '01lp',
 '01lq',
 '01lr',
 '01ls',
 '01lt',
 '01lu',
 '01lv',
 '01lw',
 '01lx',
 '01ly',
 '01lz',
 '01ma',
 '01mb',
 '01mc',
 '01md',
 '01me',
 '01mf',
 '01mg',
 '01mh',
 '01mi',
 '01mj',
 '01mk',
 '01ml',
 ...]